<!--
Start Call To Action
==================================== -->
<section class="call-to-action section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-8 text-center">
				<h2>Let’s Build Reliable IT Solutions Together</h2>
				<p>
					Whether you need quality IT hardware, custom software solutions,
					or expert consulting services, Zamaris Innovations is ready to support
					your business with dependable and secure technology.
				</p>
				<a href="contact.html" class="btn btn-main">Get in Touch</a>
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->