<div class="hero-slider">
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/1.png);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">
						Powering Businesses <br> Through Smart IT Solutions
					</h1>
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">
						Zamaris Innovations supplies reliable IT hardware, accessories, and <br>
						delivers professional software development and consulting services <br>
						to help your business grow securely and efficiently.
					</p>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8"
					   class="btn btn-main" href="service.html">
						Our Services
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/2.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">
						IT Hardware, Software <br> & Expert Consulting
					</h1>
					<p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">
						From laptops, desktops, servers, and networking equipment <br>
						to custom software solutions and IT advisory services, <br>
						we provide technology you can trust.
					</p>
					<a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8"
					   class="btn btn-main" href="contact.html">
						Get in Touch
					</a>
				</div>
			</div>
		</div>
	</div>
</div>