<!--
Fixed Navigation
==================================== -->
 <header class="navigation fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light px-0">

      <!-- Logo -->
      <a class="navbar-brand logo" href="index.html">
        <img loading="lazy" class="logo-default" src="images/logo.png" alt="Zamaris Innovations Logo" />
        <img loading="lazy" class="logo-white" src="images/logo-white.png" alt="Zamaris Innovations Logo" />
      </a>
      <!-- /Logo -->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">

          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="about.html">About Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="service.html">Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>

        </ul>
      </div>

    </nav>
  </div>
</header>
<!--
End Fixed Navigation
==================================== -->